.contents-row{
    height: 100vh;
    padding-top: 95.88px;
    background-size: cover;
}

.contet-middle{
    display: flex;
    border-bottom: 2px solid #efefef;
    padding: 12.4px 50px;
    width: 100%;
}

.book-img{
   box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}

.book-info{
    width: 100%;
}

.book-name{
    font-weight: bold;
    font-size: 16px;
    color:#000000 ;
    padding-left: 20px;
    padding-top: 8px;
}

.topic-name{
    font-weight: bold;
    font-size: 13px;
    color: #777777;
    padding-left: 20px;
    padding-top: 8px;
}

.name{
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 23px;
    width: 100%;
}

.user-name{
    color: #777777;
    display: flex;
    justify-content: space-between;
    width: 100%;

}



