.search-form{
    padding-top: 12.4px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #efefef;
    padding-bottom: 12.4px;
}

.search-input{
    height: 30px;
    border-radius: 5px 0 0 5px; 
    border: 2px solid #1C75BC;
    outline: 0;    
}

.search-btn{
    background-color:#1C75BC ;
    color:#FFFFFF ;
    font-weight: bold;
    border-radius: 0 5px 5px 0; 
    border: 2px solid #1C75BC;
    padding-left: 3px;
}

.contents-row{
    height: 100vh;
    background-size: cover;
}

.contet-middle{
    display: flex;
    border-bottom: 2px solid #efefef;
    padding: 12.4px 50px;
    width: 100%;
    transition: .3s;
}

.contet-middle:hover{
    background-color: #efefef ;
    transform: translateY(-4px);
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
}

.book-img{
   box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}

.book-info{
    width: 100%;
}

.book-name{
    font-weight: bold;
    font-size: 16px;
    color:#000000 ;
    padding-left: 20px;
    padding-top: 8px;
}

.topic-name{
    font-weight: bold;
    font-size: 13px;
    color: #1C75BC;
    padding-left: 20px;
    padding-top: 8px;
}

.name{
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 23px;
    width: 100%;
}

.user-name{
    color:  #777777; 
    display: flex;
    justify-content: space-between;
    width: 100%;

}



