.contents-post {
    height: 100vh;
  }
.container{
    height: 100%;
    background-color:#f4f4f4 ;
    padding-left: 50px;
    padding-right: 50px;
}

.new-post{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
  
.new-title{
    display: flex;
    justify-content: center;
    padding-top: 12.4px;
    padding-bottom: 12.4px;
    border-bottom: 20.4px solid #f4f4f4 ;
    font-size: 22px;
}

.form-name{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.name-box{
    border: 2px solid #1C75BC;
    height: 30px;
    border-radius: 5px;
}

.form-title{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.title-box{
    border: 2px solid #1C75BC;
    height: 30px;
    border-radius: 5px;
    outline: 0;    
}

.form-url{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    outline: 0;    
}

.url-box{
    border: 2px solid #1C75BC;
    height: 30px;
    border-radius: 5px;
    outline: 0;    
}

.form-text{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    outline: 0;    
}

.text-box{
    border: 2px solid #1C75BC;
    border-radius: 5px;
    outline: 0;    
}


.form-send{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.submit-box{
    background-color: #1C75BC;   
    border: 1px solid #efefef; 
    color:#FFFFFF ;
    font-weight: bold;
    height: 48px;
    width: 165px;
    font-size: 18px;
    border-radius: 10px;
    outline: 0;    
}

