.book-explain-box{
    height: 100vh;
}

.top-message{
    padding: 20.4px 50px;
    width: 100%;
    background-color:#f4f4f4;
}

.sample-message{
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.book-name{
    font-weight: bold;
    font-size: 16px;
    color:#000000 ;
    padding-left: 20px;
    padding-top: 8px;
}

.topic-name{
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 8px;
    color: #1C75BC;
}

.user-total{
    font-weight: bold;
    font-size: 13px;    
    padding-left: 20px;
    padding-top: 8px;
}
.name-total{
    color: #777777;
}

.book-text{
    background-color: #f4f4f4;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.text-header{
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.header-message{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 2px solid #1C75BC;
}

.text-title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 5px;
}

.text-name{
    font-size: 16px;
    padding-top: 16px;
}

.select-btn{
    display: flex;
    align-items: center;
}

.edit-btn{
    padding-right: 15px;
}

.book-red-btn{
    color: #000;
}

.delete-btn{
    padding-right: 5px;
}

.book-destroy{
    color: #000;
}

.review-user{
    padding-right: 15px; 
}

.left-title{
    color: #000;
    font-size: 14px;
    padding-right: 5px;
}

.right-title{
    font-size: 18px;
    color: #000;
}

.container-comment{
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f4f4f4;
}

.sample-comment{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}

.comment-king{
    width: 100%;
    background-color: #FFFFFF;
    height: 45px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1C75BC;
}

.title-king{
    padding-left: 5px;
}

.comment-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment-second{
    width: 65%;
    border: 2px solid #1C75BC;
    border-radius: 5px;
    outline: 0;  
    height: 100px;  
}

.comment-sendbtn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.comment-forword{
    border: 2px solid #1C75BC;
    border-radius: 16px;
    background-color: #1C75BC;
    font-weight: bold;
    color: #FFFFFF;
    outline: 0;  
    width: 50%;
    height: 48px;
}

.comments{
    width: 100%;
}

.main-essance{
    width: 100%;
    padding-bottom: 8px;
    display: flex;
}

.comment-title{
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
}

.comment-main{
    padding-top: 10px;
}

.comment-orner{
    color: #1C75BC;
    font-weight: bold;
}

