.book-explain-box{
    height: 100vh;
}

.top-message{
    display: flex;
    border-bottom: 2px solid #efefef;
    padding: 10px 50px;
}

.book-img{
   border: 1px solid #efefef; 
}

.book-name{
    font-weight: bold;
    font-size: 16px;
    color:#000000 ;
    padding-left: 20px;
    padding-top: 8px;
}

.topic-name{
    font-weight: bold;
    font-size: 13px;
    color:#00BFFF ;
    padding-left: 20px;
    padding-top: 8px;
}

.name{
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 23px;
}
.user-name{
    color:#888;
}

.book-text{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.header-message{
    display: flex;
    justify-content: space-between;
    border-left: solid 6px #00BFFF;
    background-color:#f4f4f4;
}

.text-title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 5px;
}

.text-name{
    font-size: 16px;
    padding-top: 16px;
}

.select-btn{
    display: flex;
    align-items: center;
}

.edit-btn{
    padding-right: 15px;
}

.book-red-btn{
    color: #000;
}

.delete-btn{
    padding-right: 5px;
}

.book-destroy{
    color: #000;
}