.login-btn {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;

  }

  .login-red-btn {
    width: 100%;
    background-color: #00BFFF;   
    border: 1px solid #efefef; 
    color: #fff;
    line-height: 48px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }